<h2 class="jumbotron text-center">Select Monthly Subscription</h2>
<br>
<div class="container"><!-- Start container30 -->

	<div class="col-xs-4">
Incrustar el HTML y CSS https://bootsnipp.com/snippets/BDqOz
 	</div>
	<div class="col-xs-4">
Incrustar el HTML y CSS https://bootsnipp.com/snippets/BDqOz
 	</div>
	<div class="col-xs-4">
Incrustar el HTML y CSS https://bootsnipp.com/snippets/BDqOz
 	</div>
</div><!-- END container -->
