<div class="container">
  <header class="headermovie"><!-- Start header -->
    <div class="login1">
      <%= link_to "Index", about_path %> </br>
    </div>
      <ul class="headertxt">
          <li><a href="#news">MOVIES & DVDS</a></li>
          <li><a href="#news">TV</a></li>
          <li><a href="#news">NEWS</a></li>
          <li><a href="#about">TICKETS & SHOWTIMES</a></li>
      </ul>
<div class="navbar1">
      <input class="navbar1 navbar2" type="text" name="search" placeholder="Search..">
    </div>
    <img class="imglogo" src="http://www.flixist.com/ul/220739-sad-nerds-start-petition-to-shut-down-rotten-tomatoes-over-bad-suicide-squad-reviews/killer-tomatoes-noscale.jpg">
    <h1 class="tomato">TOMATES PODRIDOS</h1>
  </header><!-- Finish header -->
  <br>

 <div class="row">
 	<div class="col-lg-6 col-md-6 col-xs-6">
 		<h3><b>ABOUT TOMATES PODRIDOS</b></h3>
 		<p>Tomates podridos, is a web page where you can see the critics of both the press and the public, of films, series, etc. We can also find current news and headlines that show negative, positive or funny things, there is also the option of putting comments of the films, whether positive or negative, of course, insults and disrespect are prohibited. If any user makes one of these faults will be banned.</p>
 	</div>
  <div class="col-lg-6 col-md-6 col-xs-6">
    <h3><b>WHAT IS THE TOMATE PODRIDOS</b></h3>
    <p>The operation of Tomates Podridos is simple, both press and user can make their own criticism and make a numerical vote, which will be represented in a%, depending on the number the color of the traffic light will be different, below will explain the operation of the colors. In the page there are also news, curiosities, etc. The curiosities are represented with icons, which depends on whether it is positive, negative or funny will have a different icon.</p>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6">
    <h3><b>TYPE OF COLOR ACCORDING TO SCALE</b></h3>
    <table class="table">
      <tr>
        <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif"></th>
        <th>Positive reviews</th>
      </tr>
      <tr>
        <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_amb.gif"></th>
        <th>Normal reviews</th>
      </tr>
      <tr>
        <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif"></th>
        <th>Negative reviews</th>
      </tr>
      <tr>
        <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg"></th>
        <th>No reviews</th>
      </tr>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6">
    <h3><b>HEADLINE ICONS</b></h3>
    <p>Thumbs up <span class="glyphicon glyphicon-thumbs-up" aria hidden="true"></span>
    <p>Thumbs down <span class="glyphicon glyphicon-thumbs-down" aria hidden="true"></span>
    <p>Curious icon <span class="glyphicon glyphicon-sunglasses" aria hidden="true"></span>
    <p>Funny icon <span class="glyphicon glyphicon-ok" aria hidden="true"></span>
    <p>Negative icon <span class="glyphicon glyphicon-remove" aria hidden="true"></span>
    <p>Spicy icon <span class="glyphicon glyphicon-fire" aria hidden="true"></span>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="col-lg-6 col-md-6 col-xs-6">
    <h3 class="movies"><b>MY FAVORITE MOVIES</b>-</h3>
    <ul>
      <li> Pulp fiction</li>
      <li> El golpe</li>
      <li> El rey leon</li>
      <li> Salvar al soldado Ryan</li>
      <li> Alien: El octavo pasajero</li>
      <li> Blade Runner</li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6">
    <h3 class="series"><b>MY FAVORITE SERIES</b></h3>
    <ul>
      <li> Juego de Tronos</li>
      <li> American Gods</li>
      <li> The Big Bang Theory</li>
      <li> The Simpsons</li>
      <li> Breaking Bad</li>
      <li> Fargo</li>
    </ul>
  </div>
  </div>
  <footer> <!-- Start footer -->
   <p class="footermovie">JOIN THE NEWSLETTER <span class="glyphicon glyphicon-envelope" aria hidden="true"></span>
    <br>
   <%= link_to "About", about_path %>
   <p>Copyright © Fandango. All rights reserved.</p>
  </footer><!-- Finish footer -->

</div>

