.alert-success {
	background-color: #FFFFFF;
	border-color: #B6B6B6;
	color: #008000;
	text-align: left;
}

.alert-danger {
	background-color: #FFFFFF;
	border-color: #B6B6B6;
	color: #FF0000;
	text-align: left;
}

.alert-warning {
	background-color: #FFFFFF;
	border-color: #B6B6B6;
	color: #FFFF00;
	text-align: left;
}

.alert-info {
	background-color: #FFFFFF;
	border-color: #B6B6B6;
	color: #0000FF;
	text-align: left;
}